@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* Audiomediaai.css */
.audioai-root {
  display: flex;
  background: #232323;
  min-height: 100vh;
  font-family: "Segoe UI", "Roboto", "Open Sans", "Helvetica Neue", sans-serif;
}

.audioai-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: #232323;
}

.audioai-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #18181f;
  padding: 0.5rem 2.5rem 0.5rem 2.5rem;
  border-bottom: 1.5px solid #222226;
  min-height: 48px;
}

.audioai-header-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
}

.audioai-header-user {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  color: #fff;
}

.audioai-user-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #fff;
}

.audioai-main-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.audioai-btn {
  padding: 0.7rem 1.5rem;
  border-radius: 8px;
  border: none;
  font-size: 1.1rem;
  font-weight: 500;
  cursor: pointer;
  background: #444655;
  color: #fff;
  transition: background 0.2s;
}

.audioai-btn-primary {
  background: #bdbdbd;
  color: #232323;
}

.audioai-btn-primary:hover {
  background: #fff;
  color: #18181f;
}

.audioai-table-pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
  margin: 1.2rem 0 0.5rem 0;
}

.audioai-pagination-arrow {
  font-size: 1.3rem;
  color: #23232b;
  background: #bdbdbd;
  border-radius: 4px;
  padding: 0.2rem 0.6rem;
  cursor: pointer;
  transition:
    background 0.2s,
    color 0.2s;
}

.audioai-pagination-arrow:hover {
  background: #fff;
  color: #18181f;
}

.waveform-row {
  column-span: 100%;
}

.music-bg-grad {
  background: linear-gradient(to right, #EEEEEE 35%, #CCC 50%, #EEEEEE 75%);
  background-size: 200% 200%;
  animation: gradient 5s ease-in-out infinite;
}

.music-bg{
  /* background-color: #ddedda; */
  background: linear-gradient(to right, #ddedda, transparent)
}
